# Examples of using python to interact with SQL Databases

First we need a database to play with. Luckily there are several databases that have been created for these purposes. I'll use the 'Chinook' database (see <https://chinookdatabase.codeplex.com/>). I download the database file from the website, and open it in PostgreSQL.

Then we need to import the python libraries we'll use.

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# create engine
# view list of tables
# open connection
# send query
# get data and put in pandas dataframe
# close connection